# ~/.gnupg/gpg.conf

no-greeting
default-recipient $EMAIL_ADDRESS
encrypt-to $EMAIL_ADDRESS
charset utf-8
personal-cipher-preferences AES256
personal-digest-preferences SHA512
personal-compress-preferences zlib

# EOF.
